@charset "UTF-8";
#conbg {
    margin-top: 60px;
}
.box {
    padding: 16px 0 16px 0;
    border-bottom: 1px solid #eee;
}
.box > input {
    border: none;
    outline: none;
    font-size: 1.6em;
    font-weight: 400;
}
#rsvLoc {
    float: left;
}
.box .subCate {
    margin: 20px 0 0 0;
} 
#subCate > li {
    float: left;
    font-weight: 600;
    font-size: 1.2em;
    width: auto;
    text-align: center;
    vertical-align: middle;
    padding:6px 15px 6px 15px;
    border-radius: 30px;
    border:1px solid #05C3A7;
    color: #05C3A7;
    margin-right: 10px;
}
#updateBtn {
    border-radius: 30px;
    border: 1px solid #fff;
    background-color: #05C3A7;
    color: #fff;
    font-size: 16px;
    width: 180px;
    height: 50px;
    margin-top: 40px;
    cursor: pointer;
    outline: 0;
    transition: 0.5s;
}
#loctxt {
    width: auto;
    float: left;
}
.box > h1 {
    font-weight: 600;
    font-size: 1.3em;
    margin-bottom: 10px;
}
#showLoc {
    float: left;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #eee;
    outline: none;
    border: 1px solid #eee;
    margin-left: 20px;
}
.box > h3 {
    font-size: 1.6em;
    font-weight: 400;
}
.box > span {
    float:left;
    width: 150px;
    height: 150px;
    border-radius:5px;
    overflow: hidden;
}
.box > span > img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
}
#payDetail > h1 {
    font-size: 2.2em;
}

#paylistWrap {
    width: 1200px;
    margin: 0 auto;
}
#checkBtn {
    float: left;
    font-size: 1.4em;
}
#checkWrap > p {
    font-size: 1.4em;
    margin-left: 10px;
    float: left;
}
#checkWrap {
    margin: 30px 0 60px 0;
}
#payTit {
    margin-top: 50px;
}
#payTit > ul > li {
    font-size: 1.4em;
    font-weight: 600;
}
#payTit > ul > li > span {
    font-size: 2em;
    margin-left: 60px;
}
#paylist {
    width: 600px;
    margin-top: 20px;
}
#paylist > h1 {
    font-size: 2.2em;
    margin-bottom: 20px;
}
#kakao {
    width: 280px;
    height: 180px;
    border: 2px solid #05C3A7;
    text-align: center;
    float: left;
}
#kakao .fa-play {
    margin-top: 40px;
    font-size: 6em;
    color: #05C3A7;
}
#kakao > p {
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 10px;
    color: #05C3A7
}
#card {
    width: 280px;
    height: 180px;
    border: 2px solid #eee;
    text-align: center;
    float: left;
}
#card .fa-credit-card {
    margin-top: 40px;
    font-size: 6em;
}
#card > p {
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 10px;
}
#payBtn {
    border-radius: 30px;
    border: 1px solid #fff;
    background-color: #05C3A7;
    color: #fff;
    font-size: 16px;
    width: 180px;
    height: 50px;
    margin-top: 40px;
    cursor: pointer;
    outline: 0;
    transition: 0.5s;
    margin-bottom: 100px;
}

#payBtn:hover {
    border: 1px solid #05C3A7;
    background-color: #eee;
    color: #05C3A7;
    transition: 0.5s;
}