@charset "UTF-8";

#t_upper_contents {
	background-color: #05C3A7;
	height:100px;
	width: 100%;
}

#t_upper_content1 {
	font-size: 25px;
	color: white;
	position: absolute;
	margin: 30px;
}

#t_contents {
	position:relative;
	left:50%;
	transform: translate(-50%,0%);
	font-size: 16px;
	margin-top: 70px;
	margin-bottom: 70px;
	width:800px;
	height: auto;
}

#t_content > tbody > tr >  th {
	width:100px;
}

#t_content{
	margin-bottom:0px;
}

#t_title {
	font-weight: bold;
	font-size:22px;
}

#middlebuttons{
	margin-top:10px;
}

.middlebutton	{
	float:right;
	margin-left:10px;
}

.tBookmark {
    background: url(../../image/book.png) no-repeat;
    cursor: pointer;
    background-position-x: -18px;
    position: absolute;
    right:0%;
    padding:10px;
    text-indent: -1000em;
}
.tBookmark:hover {
    background-position-x: 0px;
    text-indent: -1000em;
}

.tBookmark.select {
    background-position-x: 0px;
    text-indent: -1000em;
}


#t_reply{
	margin-top:80px;
	width:800px;
}

#t_reply_input{
	display:inline-block;
	width:800px;
	border-bottom: 1px solid gray;
}


#footer0 {
	position:absolute;
	bottom: -150%;
}

#uPic {
	height:50px; 
	width:50px;
	border-radius:25px;
}

#myPic {
	height:50px; 
	width:50px;
	border-radius:25px;
}

.heayo_btn {
    border-radius: 10px; /*라운드*/
    border: 1px solid #fff;/*버튼 stroke*/
    background-color: #05C3A7;
    color: #fff;
    font-size: 14px;
    width: 70px;/*버튼 가로*/
    height: 40px;/*버튼 세로*/
    cursor: pointer;/*버튼 마우스로 갖다 되었을 때 pointer표시*/
    outline: 0; /*버튼 클릭시 생기는 라운드 제거*/
    transition: 0.5s; /*버튼 hover시 변경 속도*/
    float:right;
}
